/* Fonts and Spacing */
article li, article li.build, section li{
  font-family: 'Open Sans','Helvetica', 'Crimson Text', 'Garamond',  'Palatino', sans-serif;
  text-align: justify;
  font-size:22px;
  line-height: 1.5em;
  color: #444;
}



/* Builds */
/* line 599, ../scss/default.scss */
.build > * {
  -webkit-transition: opacity 0.5s ease-in-out 0.2s;
  -moz-transition: opacity 0.5s ease-in-out 0.2s;
  -ms-transition: opacity 0.5s ease-in-out 0.2s;
  -o-transition: opacity 0.5s ease-in-out 0.2s;
  transition: opacity 0.5s ease-in-out 0.2s;
}
/* line 603, ../scss/default.scss */
.build .to-build {
  opacity: 0;
}
/* line 607, ../scss/default.scss */
.build .build-fade {
  opacity: 0.3;
}
/* line 610, ../scss/default.scss */
.build .build-fade:hover {
  opacity: 1.0;
}

/* line 617, ../scss/default.scss */
.popup .next .build .to-build {
  opacity: 1;
}
/* line 621, ../scss/default.scss */
.popup .next .build .build-fade {
  opacity: 1;
}


@media print {
  /* line 1014, ../scss/default.scss */
  slides slide {
    display: block !important;
    position: relative;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(85%, #ffffff), color-stop(100%, #e6e6e6));
    background: -webkit-linear-gradient(#ffffff, #ffffff 85%, #e6e6e6);
    background: -moz-linear-gradient(#ffffff, #ffffff 85%, #e6e6e6);
    background: -o-linear-gradient(#ffffff, #ffffff 85%, #e6e6e6);
    background: -ms-linear-gradient(#ffffff, #ffffff 85%, #e6e6e6);
    background: linear-gradient(#ffffff, #ffffff 85%, #e6e6e6);
    background-color: white;
    -webkit-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -o-transform: none !important;
    transform: none !important;
    width: 100%;
    height: 100%;
    page-break-after: always;
    top: auto !important;
    left: auto !important;
    margin-top: 0 !important;
    margin-left: 0 !important;
    opacity: 1 !important;
    color: #555;
  }
  /* line 1034, ../scss/default.scss */
  slides slide.far-past, slides slide.past, slides slide.next, slides slide.far-next, slides slide.far-past, slides slide.current {
    opacity: 1 !important;
    display: block !important;
  }
  /* line 1040, ../scss/default.scss */
  slides slide .build > * {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
  }
  /* line 1045, ../scss/default.scss */
  slides slide .build .to-build,
  slides slide .build .build-fade {
    opacity: 1;
  }
  /* line 1050, ../scss/default.scss */
  slides slide .auto-fadein {
    opacity: 1 !important;
  }
  /* line 1054, ../scss/default.scss */
  slides slide.backdrop {
    display: none !important;
  }
  /* line 1058, ../scss/default.scss */
  slides slide table.rows {
    border-right: 0;
  }
  /* line 1063, ../scss/default.scss */
  slides slide[hidden] {
    display: none !important;
  }

  /* line 1068, ../scss/default.scss */
  .slide-area {
    display: none;
  }

  /* line 1072, ../scss/default.scss */
  .reflect {
    -webkit-box-reflect: none;
    -moz-box-reflect: none;
    -o-box-reflect: none;
    -ms-box-reflect: none;
    box-reflect: none;
  }

  /* line 1080, ../scss/default.scss */
  pre, code {
    font-family: monospace !important;
  }
}
